*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

}


.box{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: rgb(52, 169, 196);
    opacity: .9;
    height: 440px;
    width: 800px;
    border-radius: .3rem;
}


.left{
    /* margin-right: .5rem; */

    /* border: 1px solid; */
    /* display: flex; */
    flex-basis:50%;
   
}

/*  */

.left form{
    padding: 0 1rem;
}

.left input[type ="text"]{
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    border-radius: .3rem;
    outline: rgb(152, 38, 177);
    background-color: rgba(240, 248, 255, 0.877);
}

#zip{
    display: flex;
    /* width: 100%; */
    /* border: 1px solid blue; */
    /* border: 1px solid; */
}


#zip label select{
    
    padding: .5rem;
    border-radius: .3rem;
    overflow: rgb(152, 38, 177);
    outline: none;
    color: rgba(70, 75, 79, 0.976);
    background-color: rgba(240, 248, 255, 0.877);


}

.left input[type ="number"]{
    /* margin: .5rem 0; */
    margin-top: .1rem;
    padding: .45rem;
    width: 100%;
    outline: rgb(152, 38, 177);
    border-radius: .3rem;
    background-color: rgba(240, 248, 255, 0.877);

}


.right{
    flex-basis: 50%;
}

.right input[type ="text"]{
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    border-radius: .3rem;
    outline: rgb(152, 38, 177);
    background-color: rgba(240, 248, 255, 0.877);

}

#img{
    margin: .6rem 0;

}


.right form{
    margin-top: 1.5rem;
    margin: 1rem;
    
}



.right input[type ="number"]{
    /* margin: .5rem 0; */
    margin-top: .1rem;
    padding: .45rem;
    width: 100%;
    /* outline: none; */
    outline: rgb(152, 38, 177);
    background-color: rgba(240, 248, 255, 0.877);


    border-radius: .3rem;
}

#code{
    margin-left: 3.5rem;


}

#cvv{
    width: 100%;
    margin-top: .5rem;
    margin-left: 3.5rem;
}

#year{
    margin-top: .5rem;
}

#btn{
    font-size: 1.2rem;
    border: 1px solid;
    margin-top: .5rem;
    margin-left: 1rem;
    padding: .5rem;
    width: 92%;
    border-radius: .3rem;
    cursor: pointer;
    background: rgb(34, 147, 239);
    color: #fff;
}

#btn:hover{
    background: rgb(193, 178, 20);
}



/* media querrry */

@media  (max-width: 768px ) {
  
    /* .header{
        height: 300vh;
    } */
    .box {
        margin: 10px;
        padding: 16px;
        display: flex;
        height: 90%;
        width: 100%;
        border-radius: .3rem;
        /* flex-wrap: wrap; */
        flex-direction: column;
        background-position:center;
        background-size: cover;
    }
    
    form {
        display: flex;
        flex-direction: column;
        /* margin: 5px; */
        /* padding: 10px; */
        height: 50%;
        background: fixed;

        unicode-bidi: isolate;
    }

    .heading{
        font-size: 18px;
        margin-bottom: 10px;

    }

    .left {
        margin-bottom: .5rem;
       font-size: 15px;
    }

    .right{
        margin-bottom: .5rem;
        font-size: 15px;
    }

    .left input[type ="text"],
    .right input[type ="text"] {
        margin: .2rem 0;
        padding: .2rem;
    }

    #zip {
        display: flex;
        justify-content: space-between;

    }
    #code {
        margin-left: .5rem;
    }
    .left input[type ="number"],
    .right input[type ="number"] {
        /* margin: .5rem 0; */
        margin-top: .1rem;
        padding: .2rem;
        font-size: 11px;
        width: 100%;
        outline: rgb(152, 38, 177);
        border-radius: .3rem;
    }

    #zip label select {
        padding: .2rem;
    }

    .right form {
        margin: 0 1rem 0 1rem;
    }

    #img{
        margin-bottom: -8px;
    }


    #btn {
        font-size: .8rem;
        margin-top: .5rem;
        margin-left: 1rem;
        padding: .5rem;
        width: 80%;
        position: absolute;
        bottom: 40px;
        right: 32px;
    }
    .right #zip {
        margin-top: -22px;
    }

    #cvv {
        margin-left: .5rem;
        
    }
    #year {
        margin-top: .5rem;
        padding-right: 10px;
    }
    #zip .years select {
        padding-right: 1.6rem;
        border-radius: .3rem;
        overflow: rgb(152, 38, 177);
    }
    
}
